.contactback {
    background-color: rgba(255, 255, 255, 0.4);
    height: 100px;
    width: 50%;
    margin: 0cm 5cm 0cm 8.5cm;
    border-radius: 30px;
}

.icon {
    object-position: center center;
    object-fit: none;
    width: 150px;
    height: 100px;
    margin-left: 40px;
}

footer {
    text-align: center;
    background-color: #bcb8b1;
    padding: 10px;
    border-radius: 20px;
}

footer a {
    color: #463f3a;
}